langchain
langchain-community
langchain-openai
langchain-core
langchain-experimental

streamlit
pandas
numpy
matplotlib
seaborn
pygwalker
jupyterlab
tiktoken
tabulate
python-dotenv
langchain-google-search-agent
langchain-google-genai

